/***FONTS***/

@font-face {
    font-family: wisdom;
    src: url('../fonts/Wisdom Script AJ.woff') format('woff');
}


        /***** BASE STYLES *****/

body {
    font-family: 'Montserrat', sans-serif;    
    color: #000000;
    font-size: 16px;
    line-height: 23px;
}

p, h1, h2, h3, h4, nav, ul, li {
    margin: 0px;
} 

.color-words {
    color: #77a466;
}

.upper-letters {
    text-transform: uppercase;
}

            /*****GRID*****/

.full-width {
    width: 1240px;
    margin: 0px auto;
    overflow: auto;
}

.half-width {
    width: 620px;
    float: left;
}

.third-width {
    width: 400px;
    border-bottom: #dedbdc solid 1px;
    border-top: #dedbdc solid 1px;
    float: left;
    height: 215px;
}

            /*****HEADER*****/

header {
    height: 400px;
    text-transform: uppercase;
}

/*PAGE VISIBLE TITLE*/
header h1 {
    font-size: 30px;
    padding: 35px 0px 35px 20px;
}

/*NAV BAR*/
nav {
    float: right;
    padding: 0px;
}

nav ul li {
    display: inline-block;
    padding: 40px 0px 40px 25px;
}

nav ul li a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

/*IMAGE*/
#background-img {
    background: url(../img/hero.jpg);
    background-size: auto;
    border-top: 3px solid #77a466;
    border-bottom: 3px solid #77a466;
    clear: both;
    width: 1200px;
    height: 288px;
    margin: 0px auto;
}

        /*****MAIN*****/


/***WELCOME***/

#welcome h2 {
    font-size: 18px;
    padding: 25px 0px 0px 20px;
}

#welcome p {
    line-height: 25px;
    padding: 25px 60px 35px 20px;
    text-align: justify;
}

/***INFOS***/

#infos h3{
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;  
    padding: 25px 0px 20px 20px;
}

/*THIRD-WIDTH ONE*/
#infos .third-width.one ul {
    list-style: none;
    padding: 0px;
}

#infos .third-width.one ul li {
    line-height: 18px;
    padding: 0px 0px 20px 20px;
}

/*THIRD-WIDTH TWO*/
#infos .third-width.two {
    border-left: #dedbdc solid 1px;
    border-right: #dedbdc solid 1px;
}

#infos .third-width.two p {
    line-height: 21px;
    padding: 0px 40px 20px 20px;
    text-align: left;
}

/*THIRD-WIDTH THREE*/
#infos .third-width.three p {
    line-height: 24px;
    padding: 0px 0px 0px 20px;
}

/***FOOTER***/

footer h4 {
    clear: both;
    text-align: center;
    padding: 30px 0px;
}

footer span {
    font-family: wisdom, serif;
    text-transform: lowercase;
}